* {
	margin: 0px;
	padding: 0px;
}
body {
	background-color: #888888;
}
#placar {
	width: 480px;
	height: 70px;
	margin: 10px auto;
	background-color: #408090;
}
#tabuleiro {
	width: 480px;
	height: 480px;
	margin: 10px auto;
	background-color: #000000;
}
#placar p {
	padding: 5px;
	font-size: 26px;
	text-align: center;
}
#info {
	color: #FFDD00;
}
.desc-jog {
	width: 180px;
	height: 35px;
}
.pont-jog {
	width: 50px;
	height: 35px;
}
.cb {
	color: #FFFFFF;
}
.cp {
	color: #000000;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.neg {
	font-weight: bold;
}
.casa {
	width: 60px;
	height: 60px;
	float: left;
}
.c-selecionada {
	width: 54px;
	height: 54px;
	border: 3px solid #FF0000;
}
.cor1 {
	background-color: #006000;
}
.cor2 {
	background-color: #808000;
}
.peca {
	width: 44px;
	height: 44px;
	margin: 8px;
	border-radius: 100px;
}
.p-selecionada {
	margin: 5px;
	border: 3px solid #FF0000;
}
.branca {
	background-color: #FFFFFF;
}
.preta {
	background-color: #000000;
}
.dama {
	font-size: 30px;
	margin-left: 10px;
}
.dama:hover {
	cursor: default;
}
.d-branca {
	color: #000000;/*Preto*/
}
.d-preta {
	color: #FFFFFF;/*Branco*/
}